<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - My Chat App</title>
    {% else %}
    <title>My Chat App</title>
    {% endif %}
    <link rel="stylesheet" href='static/css', filename='styles.css'>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      &copy; 2023 My Chat App
    </footer>
  </body>
</html>
